@model HowManyCalories.Models.Week

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Week</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeeklyCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeeklyCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentCalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WeekNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
